/* intro start */

.intro {
    padding: 40px 0 30px;
    text-align: center;
}

.intro__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 20px;
}

.intro__subtitle span{
    color: #BD7048;
}

.intro__title {
    max-width: 950px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: #060606;
    margin-bottom: 100px;
}
.intro__img {
    width: 100%;
}

/* intro end */

/* concepts start */

.concepts {
    margin-bottom: 80px;
}

.concepts-container {
    display: flex;
    justify-content: space-between;
}

.concepts__title {
    max-width: 580px;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 45px;
}
.concepts__title span{
    color: #BD7048;
}
.concepts__text {
    max-width: 580px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}


/* concepts end */
