/* intro start */

.intro {
    padding: 40px 0;
    text-align: center;
}

.intro__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 20px;
}

.intro__subtitle span {
    color: #BD7048;
}

.intro__title {
    max-width: 950px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    color: #060606;
    margin-bottom: 100px;
}

.intro__img {
    width: 100%;
}

/* intro end */

/* concepts start */

.concepts {
    margin-bottom: 80px;
}

.concepts-container {
    display: flex;
    justify-content: space-between;
}

.concepts__title {
    max-width: 580px;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 45px;
}

.concepts__title span {
    color: #BD7048;
}

.concepts__text {
    max-width: 580px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}


/* concepts end */

/* team start */

.team{
    margin-bottom: 100px;
}

.team__title-container {
    text-align: right;
    position: relative;
    margin-bottom: 60px;
}

.team__title {
    display: inline-block;
    position: relative;
    font-size: 43px;
    line-height: 52px;
    color: #000000;
    text-align: right;
    z-index: 2;
    background-color: #fff;
    padding-left: 30px;
}

.team__title span {
    display: block;
    color: #BD7048;
}

.team__title-container::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.swiper{
    height: 70vh;
    border-radius: 30px;

}

.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.swiper-button-prev, .swiper-button-next{
    background-color: #fff;
    width: 56px !important;
    height: 56px !important;
    border-radius: 50%;
    box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.1);
    right: -10px;
}

.swiper-button-prev::after , .swiper-button-next::after{
    display: none;
}

.swiper-button-next {
    transform: rotate(180deg);
}

/* team end */

/* team lead start */

.team-lead{
    margin-bottom: 65px;
}

.team-lead-container {
    display: flex;
    justify-content: space-between;
}

.team-lead__info {
    max-width: 662px;
}
.team-lead__name {
    font-size: 43px;
    line-height: 52px;
    color: #1B1B1B;
    margin-bottom: 20px;
}

.team-lead__desc-container{
    margin-bottom: 35px;
}

.team-lead__desc {
    font-size: 20px;
    line-height: 24px;
    color: #7E7E7E;
}

.team-lead__texts{
    padding-left: 30px;
    list-style: disc;
}

.team-lead__text {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

/* team lead end */
