/* intro start */
.intro {
    padding: 75px 0;
}

.intro__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #262626;
    margin-bottom: 37px;
}
.intro__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(38, 38, 38, 0.7);
}

/* intro end */

/* design start */

.design{
    margin-bottom: 140px;
}

.design__title {
    text-align: center;
    margin-bottom: 40px;
}

.design__info {
    max-width: 1004px;
    margin: 0 auto 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
}

.design-items__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #262626; 
    margin-bottom: 42px;
}
 
.design-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 110px;
}

.design-item{
    grid-column: span 2;
}

.design__img {
    display: inline-block;
    margin-bottom: 33px;
}
.design-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.design-item__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
}

.btn__container{
    text-align: center;
}

.card__btn{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BD7048;
    padding: 18px 34px 18px 68px;
    border: none;
    background: #FAFAFA;
    border-radius: 100px;
    transition: 0.3s;
}

.card__btn:hover{
    background: #e4dede;
}

.card__img{
    margin-right: 12px;
}

.design__more{
    display: inline-block;
}

/* design end */

@media (max-width: 1180px) {
    .design-item{
        grid-column: span 3;
    }

    .design__img{
        width: 100%;
    }
}

@media (max-width: 960px){
    .design{
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {

    .intro{
        display: none;
    }

    .design{
        padding-top: 30px;
    }

    .design-item{
        grid-column: span 6;
    }
}

@media (max-width: 480px) {
    .design-items{
        margin-bottom: 40px;
    }

    .design-items__title{
        font-size: 28px;
    }

    .design__img{
        margin-bottom: 20px;
    }

    .card__btn{
        padding: 15px 34px 15px 40px;
    }
}