/* intro start */

.swiper {
    width: 100%;
    height: 680px;
    position: relative;
}

.swiper-slide {
    text-align: center;
}

.intro__slider-item_1 {
    background: url('../images/intro-slider-01.jpg') no-repeat center center;
}

.intro__slider-item_2 {
    background: url('../images/intro-slider-01.jpg') no-repeat center center;
}

.intro__slider-item_3 {
    background: url('../images/intro-slider-01.jpg') no-repeat center center;
}

.intro__title {
    max-width: 850px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 164px;
    margin: 0 auto 42px;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    width: 33px;
    border-radius: 100px
}

.card-btn{
    position: absolute;
    top: 5%;
    right: 0;
    width: 364px;
    padding: 30px 50px; 
    background: #262626;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
    border-radius: 100px 0 0 100px;
    z-index: 5;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.card-btn:hover{
    width: 380px;
}

.card-btn__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 20px;
}

.card-btn__img-container{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

/* intro end */

/* info start */

.info {
    margin-bottom: 60px;
}

.info-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    padding: 68px 75px;
    border-radius: 50px;
    margin-top: -140px;
}

.info-item {
    display: flex;
}

.info__img {
    width: 39px;
    height: 39px;
}

.info-item__content {
    margin-left: 25px;
}

.info-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
    margin-bottom: 10px;
}

.info-item__desc {
    max-width: 185px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(38, 38, 38, 0.7);
}

/* info end */

/* how start */

.how {
    margin-bottom: 120px;
}

.how__title {
    margin: 0 0 60px 140px;
}

.how-container {
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
}

.how-content {
    max-width: 430px;
}

.how-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.how-item__num {
    display: inline-block;
    font-weight: 700;
    font-size: 70px;
    line-height: 50px;
    color: rgba(189, 112, 72, 0.2);
}

.how-item__content {
    max-width: 290px;
    margin-left: 45px;
}

.how-item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}

.how-item__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(38, 38, 38, 0.7);
}

.how__pic {
    margin-top: -70px;
}

/* how end */

/* services start */

.services {
    margin-bottom: 160px;
}

.services__title {
    text-align: center;
    margin-bottom: 80px;
}


.services-container {
    display: flex;
    align-items: start;
    margin: 0 0 80px 140px;
}

.services-content__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #262626;
    margin-bottom: 23px;
}

.services-content__subtext {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 30px;
}

.black {
    color: #262626;
}

.services-contant__text {
    max-width: 497px;
    margin-bottom: 44px;
}

.services-list {
    list-style: circle;
    margin-left: 15px;
    margin-bottom: 80px;
}

.services-content_r{
    margin-left: 140px;
}

.services__img_r{
    margin-top: -100px;
}

/* services end */

/* plan start */

.plan {
    margin-bottom: 120px;
}

.plan-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan__content {
    max-width: 560px;
}
.plan__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #262626;
    margin-bottom: 32px;
}
.plan__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 40px;
}
/* plan end */

/* design start */

.design{
    margin-bottom: 140px;
}

.design__title {
    text-align: center;
    margin-bottom: 40px;
}

.design__info {
    max-width: 1004px;
    margin: 0 auto 40px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
}

.design-items__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #262626; 
    margin-bottom: 42px;
}
 
.design-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.design__img {
    display: inline-block;
    margin-bottom: 33px;
}
.design-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.design-item__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
}

.btn__container{
    text-align: center;
}

.card__btn{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #BD7048;
    padding: 18px 34px 18px 68px;
    border: none;
    background: #FAFAFA;
    border-radius: 100px;
    transition: 0.3s;
}

.card__btn:hover{
    background: #e4dede;
}

.card__img{
    margin-right: 12px;
}

.design__more{
    display: inline-block;
}



/* design end */

/* test start */

.test {
    background: url('../images/test.jpg') no-repeat center center;
    background-size: cover;
    padding: 118px 0;
    margin-bottom: 105px;
}

.test__title {
    max-width: 475px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.test__desc {
    max-width: 475px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 35px;
}

/* test end */

/* questions start */

.questions {
    margin-bottom: 74px;
}

.question-item{
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.questions__title {
    text-align: center;
    margin-bottom: 72px;
}

.question__head {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
    background: #FAFAFA;
    border-radius: 100px;
    padding: 10px;
}
.question__head span{
    padding-left: 20px;
}

.question__body {
    transition: 0.3s;
    max-height: 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
}

.acc-close__btn{
    transition: 0.3s;
}

/* questions end */

/* footer start */

.footer-container__top {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 75px;
}

.footer-nav__item {
    margin-bottom: 8px;
}
.footer-nav__link {
    color: rgba(33, 33, 33, 0.5);
}
.footer-nav__link:hover { 
    color: rgba(245, 153, 49, 0.5);
}
.privacy__policy {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(33, 33, 33, 0.5);
}

.footer-bootom{
    padding: 40px 0;
    background: #262626;
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.05);   
}

.rights{
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

}

/* footer end */

/* card start */

.card{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    overflow-y: auto;
    transition: 0.3s;
}
 

 .card{
     padding-top: 100px;
     transform: translateY(-100%);
 }

.card-container{
    max-width: 1100px;
    margin: 0 auto;
}

.card-container__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px    ;
}


.card__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #262626;
    margin-bottom: 50px;
}

.card-item{
    padding: 0 30px;    
    margin-bottom: 40px;
}

.card-item__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-item__container label{
    display: flex;
    align-items: center;
}

.check-inp{
    width: 25px;
    height: 25px;
}

.check-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BD7048;
    padding-left: 15px;
}

.card-item__price{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.card-list{
    max-width: 330px;
    margin: 0 auto;
    list-style: disc;
}

.card-list__item{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(38, 38, 38, 0.5);
    margin-bottom: 5px;
}

.more-card__price{
    padding-left: 40px;
}

.card-container__content{
    padding: 50px 40px;
    background: #FFF6F1;
    border-radius: 15px;
    margin-bottom: 30px;
}

.card-container__content-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
    margin-bottom: 40px;
}

.added-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.added-item__name {
    width: 260px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #BD7048;
}

.added-item__price{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.added-total__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}
.added-total__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.added-card__btn{
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 420px;
    border: none;
    text-align: center;
    padding: 23px 0;
    margin-bottom: 20px;
    border-radius: 100px;
}

.confirm {
    color: #FFFFFF;
    background: #BD7048;
    transition: 0.3s;
}

.confirm:hover{
    background: #a8603a;
}

.pay {
    background: #FFDDCB;
    transition: 0.3s;
}

.pay:hover{
    background: #f7d8c7;
}

.pay-in-installments {
    color: #FFFFFF;
    background: #F14635;
    transition: 0.3s;
}

.pay-in-installments:hover{
    background: #d63425;
}

.card-container__content-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(38, 38, 38, 0.5);
}

.card-container__right-text{
    max-width: 415px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(38, 38, 38, 0.5);
    margin-bottom: 10px;
}

/* card end */
