/* intro start */
.intro{
    margin-bottom: 65px;
}

.intro-container{
    background: url('../images/tender.jpg');
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 65px;
}

.intro__title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 0 0 65px 134px;
}

.intro__info{
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
    margin-bottom: 70px;
}

.intro-price__info{
    display: flex;
    align-items: center;
}

.intro-price__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(38, 38, 38, 0.7);
    margin-right: 30px;
}

.intro__price{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #BD7048;
}

/* intro end */

/* see also start */

.see-also{
    margin-bottom: 90px;
}

.see-also__title{
    margin-bottom: 55px;
}

.see-also-container {
    display: flex;
}
.see-also__item {
    position: relative;
    margin-right: 50px;
    overflow: hidden;
}
.see-also__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.see-also__item:hover .see-also__img{
    transform: scale(0.98);
}

.see-also__img {
    display: inline-block;
    margin-bottom: 40px;
    transition: 0.2s;
}

.see-also__item-title{
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
}

/* sea also end */